# Databricks local metadata
.databricks/

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

nyctaxi_project/transformations/uploaded_data/